* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    min-height: 300vh;

}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.section2 {
    transform: translate(-100vw);
    transition: 1s linear;
}

.section2.active {
    transform: translate(0px);
}



header {
    width: 100%;
    height: 10vh;
    background-color: black;
}

section.nothing {
    width: 100%;
    height: 60vh;
    background-color: purple;

}

h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 60px 10px;
}

.information {
    padding: 40px 0;

}

.about {

    padding: 40px 0;
}

h2 {
    background-color: #604CC1;
    line-height: 100px;
    font-size: 40px;
    padding-left: 50px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 40px;
}




.article.photo {

    width: 45%;
    height: 45%;
    float: left;
    margin-right: 40px;
    padding: 20px;
}

p {
    line-height: 40px;
    padding: 20px;
}

.summary {
    padding: 40px;

}


.summaryPhoto {
    width: 90%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 100px;
    transform: scale(0);
    transition: linear 1s;
}

.summaryPhoto.show {
    transform: scale(1);
}